.headerContent {

.routes {
  margin: 48px 0 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ACACAC;
}

.headerContent_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;    
  color: #000000;
  padding-bottom: 18px;
  border-bottom: 1px solid #CAC8C8;
  margin-bottom: 35px;
  width: 89%;
}

}